.profileBody {
    display: inline-block;
    background-color: white;
    margin-top: 6px;
    margin-left: 55px;
    width: 75%;
    height: 590px;
}

h1 {
    font-family: 'Times New Roman';
}

h2 {
    font-family: 'Times New Roman';
    margin-bottom: 20px;
}

.c1 {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.c2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.c3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.c4 {
    margin-bottom: 20px;
}

.c5 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.c6 {
    margin-bottom: 20px;
}

ul {
    margin-bottom: 20px;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    max-width: 700px;
    margin: auto;
}

body {
    min-width: 500px;
    background-color: #e0eeee;
}
